<!doctype html>
<html>
  <head>
    <h1><%=shopName%> Add a Book Section</h1>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
  <h1>Add a book :</h1>
<form method="POST" action="/bookadded">
    <p>Book name<input id="name" type="text" name="name" value="Default"></p>
    <p>Book price<input id="price" type="text" name="price" value="Default"></p>
<input type="submit" value="addbook" />
</form>
  </body>
</html>