<!doctype html>
<html>
  <head>
    <title>Delete a user in <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1> Enter details / <%=shopName%></h1>
    <form method="POST" action="/delete">
        <p>Username: <input id="username" type="text" name="username" value="username" /></p>
        

        <input type="submit"> Delete User
      </form>
  </body>
</html>