<!doctype html>
<html>
  <head>
    <h1><%=shopName%> shop</h1>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <p>Here are all the users:</p>
    <ul>
        <%for (var i=0; i<availableusers.length; i++){%>
        <li>
            <%=availableusers[i].firstname+ ", " + availableusers[i].lastname + ", " + availableusers[i].email + ", " + availableusers[i].username %>
        
        </li>
        <%}%>
    </ul>
    </p>


  </body>
  
</html>